<h1>Welcome <%= current_user.email %>!</h1>
<h3>Your Personal To-Do List</h3>
<p>Let's achieve greatness.</p>

<table>
  <thead>
    <tr>
      <th> Tasks </th>
      <th> Completed? </th>
    </tr>
  </thead>
  <tbody>
    <%= render @items %>
  </tbody>
</table>

<p> Create a new item!</p>
<%= render partial: 'items/form' %>
