<h1>Welcome <%= current_user.email %>!</h1>
<h3>Your Personal To-Do List</h3>
<p>Let's achieve greatness. Click completed when finished.</p>

<table>
  <tbody>
    <%= render @items %>
  </tbody>
</table>

<p> Create a new item!</p>
<%= render partial: 'items/form' %>
